{% extends "base.html" %}

{% block title %}
View readings: {{ item.id }}
{% endblock title %}

{% block content %}
<h1>View readings: {{ item.id }}</h1>
<div class="mb-10">
    <div>
    <label><b>{{"meter" | capitalize }}:</b> {{item.meter}}</label>
    </div>
<div>
    <label><b>{{"reading" | capitalize }}:</b> {{item.reading}}</label>
    </div>
<div>
    <label><b>{{"date" | capitalize }}:</b> {{item.date}}</label>
    </div>
<br />
<a href="/readings">Back to readings</a>
</div>
{% endblock content %}
